<link href="indexcss.css" rel="stylesheet">

<h3>Select two players from the list below or add a name</h3>
<div class="snackbar" id="snackbar">Please don't select more than two names</div>
<div class="snackbar" id="errorSnackbar">Error adding name</div>
<div class="snackbar" id="selectTwoSnackbar">Please select two players before starting a game</div>
<% Object.values(names).forEach(entry => {
    let name = entry.name
    %>
    <input type="checkbox" id="<%= name %>" value="<%= name %>" class="check">
    <label for="<%= name %>"><%= name %></label>
<% }) %>

<br>
<label for="name">Enter another name: </label><input type="text" id="name"> <button onclick="newName()">Add name</button>

<br><br>
<button onclick="startGame()">Start Game</button>

<div class="form-popup" id="myForm">
    <div class="form-container">
      <h1>Who serves first?</h1>
  
      <input type="radio" id="name1" name="name">
        <label for="name1" id="name1l"></label><br>
        <input type="radio" id="name2" name="name">
        <label for="name2" id="name2l"></label><br>
  
      <button type="submit" class="btn" onclick="startGame2()">Start game</button>
      <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
    </div>
  </div>

<script src="js.js"></script>