<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>

<h1>Leaderboard</h1>
<table>
<% Object.values(leaderboard).forEach(entry => {
    let name = entry.name
    let wins = entry.wins
    let score = entry.score
    %>
    <tr>
        <th><%= name %></th>
        <th><%= wins %></th>
        <th><%= score %></th>
      </tr>
<% }) %>
</table>

<button onclick="startNewGame()">Start new game</button>

<script>
    function startNewGame(){
        window.location.href = "/"
    }
</script>